<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="TargetDBName" value="WideWorldImportersDW" />
    <add key="TargetServerName" value="localhost" />
    <add key="LogFilePath" value="C:\Users\ashish.arora\DbUpLogs\{TargetDBName}_{LogDate}.txt" />
    <add key="FromEmailAddress" value="ashisharora1909@gmail.com" />
    <add key="ToEmailAddress" value="ashish.arora@readify.net" />
    <add key="SMTPHostName" value="smtp.gmail.com" />
    <add key="SMTPPortNumber" value="587" />
    <add key="DBQueryTimeOutInMinutes" value="2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="TargetDBConnectionString" connectionString="Data Source={TargetServerName};Initial Catalog={TargetDBName};Integrated Security=true;" />
  </connectionStrings>
  </configuration>