<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key ="TargetDBName" value =""/>
      <add key ="TargetServerName" value =""/>
      <add key ="LogFilePath" value =""/>
      <add key ="FromEmailAddress" value =""/>
      <add key ="ToEmailAddress" value =""/>
      <add key ="SMTPHostName" value =""/>
      <add key ="SMTPPortNumber" value =""/>
      <add key ="DBQueryTimeOutInMinutes" value =""/>
    </appSettings>
    <connectionStrings>
      <add name="TargetDBConnectionString" connectionString="Data Source={TargetServerName};Initial Catalog={TargetDBName};Integrated Security=true;"/>
    </connectionStrings>
</configuration>